
body {
    background-color: #f8f9fa;
}

.header-black {
    background-color: #000;
}

.header-black a {
    color: #fff;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    clear: both;
}

.container {
    min-height: 100%;
    height: auto;
}

html,
body {
    height: 91%;
    margin: 0;
    padding: 0;
}
